.navbar {
    position: fixed ;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding-left: 15px ;
    z-index: 1000; 
    flex-direction: column;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
  
.navbar-brand{
    color: #d6d2d2; 
    position: relative;
    top: 30px; 
    left: 20px;
    font-weight: 800;
    font-size: 20px;
    width: 100%;
    font-family: "Outfit";
    text-align: center;
    cursor: default;
    transition: all 0.3s ease-in-out;
}
  
.navbar-brand:hover {
    color: #d6d2d2; 
    text-decoration: none; 
}
  
.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding-left: 15px;
    background-color: #232324;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.dashboard-text {
    position: fixed;
    top: 120px;
    left: 15px;
    color: #d6d2d2;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}
  
.dashboard-text:hover {
    background-color: rgb(233, 190, 37); 
    transform: translateX(-10px);
    padding-left: 15px;
    padding-right: 100px;
    font-weight: 700;
    color: #232324;
    border-radius: 3px;
}
  
.dashboard-text.active {

    background-color: rgb(233, 190, 37); 
    transform: translateX(-10px);
    padding-left: 10px;
    padding-right: 95px;
    font-weight: 700;
    color: #232324;
    border-radius: 3px;
}

.dashboard-text.active:hover {

    background-color: rgb(233, 190, 37); 
    transform: translateX(-10px);
    padding-left: 10px;
    padding-right: 105px;
    font-weight: 700;
    color: #232324;
    border-radius: 3px;
}

.navbar-nav {
    position: fixed;
    top: 180px;
    left: 15px;
    color: #f2f2f2;
    font-size: 16px;
    margin-bottom: 100px;
    margin-left: -5px;
    transition: all 0.3s ease-in-out;
}
  
.navbar-nav p {
    margin-bottom: 0px;
}
  
.navbar-nav div {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}

.navbar-nav div:hover {
    background-color: rgb(23, 21, 21);
    color: rgb(233, 190, 37) ;
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}
  
.search-section {
    color: #f2f2f2; 
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
}
  
.add-section, .update-section, .display-items-section, 
.sort-section, .remove-section {
    color: #f2f2f2;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}

.search-section:hover {
    background-color: rgb(23, 21, 21); 
    color: rgb(233, 190, 37); 
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}

.add-section:hover {
    background-color: rgb(23, 21, 21); 
    color: rgb(233, 190, 37); 
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}

.update-section:hover {
    background-color: rgb(23, 21, 21); 
    color: rgb(233, 190, 37); 
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}

.display-items-section:hover {
    background-color: rgb(23, 21, 21); 
    color: rgb(233, 190, 37); 
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}

.sort-section:hover {
    background-color: rgb(23, 21, 21); 
    color: rgb(233, 190, 37); 
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}

.remove-section:hover {
    background-color: rgb(23, 21, 21); 
    color: rgb(233, 190, 37); 
    margin-left: -5px;
    margin-right: -10px;
    padding-bottom: -10px;
    cursor: pointer;
}

.search-section.active {
    background-color: rgb(233, 190, 37);
    color: rgb(23, 21, 21);
    font-weight: 700;
    padding-right: 95px;
}
  
.add-section.active {
    background-color: rgb(233, 190, 37);
    color: rgb(23, 21, 21);
    font-weight: 700;
    padding-right: 125px;
}
  
.update-section.active {
    background-color: rgb(233, 190, 37);
    color: rgb(23, 21, 21);
    font-weight: 700;
    padding-right: 95px;
}
  
.display-items-section.active {
    background-color: rgb(233, 190, 37);
    color: rgb(23, 21, 21);
    font-weight: 700;
    padding-right: 85px;
}
  
.sort-section.active {
    background-color: rgb(233, 190, 37);
    color: rgb(23, 21, 21);
    font-weight: 700;
    padding-right: 122px;
}
  
.remove-section.active {
    background-color: rgb(233, 190, 37);
    color: rgb(23, 21, 21);
    font-weight: 700;
    padding-right: 95px;
}


.fa-icon {
    font-size: 15px;
}
  
.navbar-toggler {
    position: absolute;
    top: 30px;
    left: 220px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    transition: 0.3s;
    font-size: 20px;
    color: #232323; 
    background-color: rgb(233, 190, 37); 
    padding: 5px;
}
  
.navbar-toggler:hover {
    background-color: #353535;
    color: rgb(233, 190, 37);
    border: 3px solid #e5e5e5;
    padding: 6px;
}
  
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
  
.navbar.collapsed {
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    width: 65px; 
}
  
.navbar.collapsed .navbar-toggler {
    left: 0px;
    transition: left 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid rgb(233, 190, 37);
    color: rgb(233, 190, 37);
}
  
.navbar.collapsed .navbar-toggler:hover {
  
    left: 0px;
    transition: left 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid #d6d2d2; 
    color: #d6d2d2;
    transition: 0.3s;
}
  
.navbar.collapsed .navbar-brand {
    left: -170px;
    opacity: 0;
}
    
.navbar.collapsed .navbar-nav {
    left: -200px;
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.navbar.collapsed .navbar-nav div .fa-icon {
    margin-right: 10px;
}

.navbar.collapsed .dashboard-text {
    left: -200px;
    opacity: 0;
    cursor: default;
}

.container-fluid {
    position: relative;
}
  
.mainArea {
    margin-left: 250px;
    transition: margin 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar.collapsed + .mainArea {
   margin-left: 0px;
} 

.collapsed-dashboard-text {
    text-decoration: none;
    display: flex;
    position: fixed;
    top: 120px;
    left: 15px;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    color: rgb(233, 190, 37);
    transition: all 0.3s ease-in-out;
}

.navbar.collapsed .collapsed-dashboard-text {
    top:  120px;
    left: 22px;
    opacity: 1;
}

.navbar.collapsed .collapsed-dashboard-text.active {
    padding-left: 17px;
    padding-right: 23px;
    color: #353535;
    left: 5px;
    background-color: rgb(233, 190, 37);
    font-weight: 700;
    border-radius: 3px;
    transform: translateX(0px);
}

.navbar.collapsed .collapsed-dashboard-text:hover {
    padding-left: 10px;
    padding-right: 30px;
    color: #353535;
    left: 5px;
    background-color: rgb(233, 190, 37);
    font-weight: 700;
    border-radius: 3px;
}

.collapsed-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 197px;
    left: 3px;
    gap: 4px;
    color: rgb(233, 190, 37);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.collapsed-icons a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: all 0.3s  ease-in-out;

}

.navbar.collapsed .collapsed-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 197px;
    left: 10px;
    gap: 4px;
    color: rgb(233, 190, 37);
    opacity: 1;

}

.navbar.collapsed .collapsed-icons a:hover {
    color: #d6d2d2;
    border: 2px solid #d6d2d2;
    border-radius: 5px;
}

.navbar.collapsed .collapsed-icons a.active {

    background-color: rgb(233, 190, 37);
    color: #353535;
}